/*==== CSS STYLING=====*/

/*
1. Main Content
2. Navigation
3. Gallery
4. Footer
5. Responsive

Colors:
background:
#ffffff
text:
#222222
alternative:
#A1C1BE
#59554E
#F3F4E5
#E2E3D9
*/

/*=== @Fontface ===*/

/* 1. MAIN */

body {
    font-size: 14px;
    margin: 0 auto;
    padding: 2% 1%;
}
.page-container {
    padding-top: 5%;

}
.text-center {
    padding-top: 20px;
}

.container {
    width: 90%;
}
.container-fluid {
    width: 100%;
    margin: 0;
    padding: 0;
}

h1, h2, h3 {
    padding: 2% auto;
}

h1 {
    text-align: center;
    font-size: 3em;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 2% 0;
}
 .showcase h3 {
     font-size: 1em;
 }
.showcase {
    width: 100%;
    margin-left: 5%;
}
.showcase h4 {
    font-size: .75em;
    text-align: left;
    margin: 1% 0;
    padding: 2% 0;
}

.showcase p {
    font-size: .75em;
    margin: 5% 0;
    width: 100%;
}

.row {
    margin: 5% 0;
}
/* 2. Navigation */

#sidebar {
    height: 100%;
    padding-right: 0;
    padding-top: 2%;
}
#sidebar .nav {
    width: 100%;
}

/* 3. GALLERY */

img {
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
    margin-bottom: 20%;
}

img:hover {
    filter: none; /* IE6-9 */
    -webkit-filter: grayscale(0); /* Google Chrome, Safari 6+ & Opera 15+ */

}

/* 5. RESPONSIVE */

/* collapsed sidebar styles */
@media screen and (max-width: 767px) {
    .row-offcanvas {
        position: relative;
        -webkit-transition: all 0.25s ease-out;
        -moz-transition: all 0.25s ease-out;
        transition: all 0.25s ease-out;
    }
    .row-offcanvas-right
    .sidebar-offcanvas {
        right: -30%;
    }

    .row-offcanvas-left
    .sidebar-offcanvas {
        left: -30%;
    }
    .row-offcanvas-right.active {
        right: 30%;
    }
    .row-offcanvas-left.active {
        left: 30%;
    }
    .sidebar-offcanvas {
        position: absolute;
        top: 0;
        width: 30%;
    }
    #sidebar {
        padding-top:0;
    }
}